/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

// Custom theme matching design colors
// Primary: #5eb3e4 (blue)
// Accent/Tertiary: #ffd966 (yellow)
// Warn: #e85d75 (red/pink)

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette, // Closest to #5eb3e4
    tertiary: mat.$yellow-palette, // Closest to #ffd966
  ),
));

@include mat.all-component-themes($my-theme);

// Minimal color overrides
:root {
  --mat-sys-primary: #5eb3e4;
  --mat-sys-tertiary: #ffd966;
  --mat-sys-error: #e85d75;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
